.div1 {
  background-color: rgb(47, 193, 215);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: "40%";
  height: 400px;
  color: white;
  line-height: 20px;
  font-size: 25px;
  font-family: "poppins";
}
.main {
  padding: 70px;
}
