.div1 {
  display: flex;
  background-color: rgb(158, 225, 235);
  align-items: center;
  justify-content: space-between;
  height: 400px;
  color: black;
  line-height: 30px;
  font-size: 20px;
  margin-left: auto;
  margin-top: 40px;
  margin-right: auto;
  width: "100%";
}
.main {
  /* padding: "100px"; */
  width: "100%";
}

.quizcontainer {
  /* padding: 30px 90px 90px 0px; */
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 70px;
}
.sec {
  /* margin: 300px; */
  width: fit-content;
}

.sec div {
  margin: 15px;
}

@media only screen and (max-width: 600px) {
  .div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    margin: 50px auto auto 0px;
  }
  .sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 400px) {
  .div1 {
    height: 650px;
  }
  .sec {
    width: "300px";
  }
}
.para {
  text-align: justify;
  text-justify: inter-word;
}
