.div1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
  color: black;
  line-height: 30px;
  font-size: 20px;
  margin-left: auto;
  margin-top: 40px;
  margin-right: auto;
  width: "100%";
}
.main {
  /* padding: "100px"; */
  width: "100%";
  background-color: red;
}

.quizcontainer {
  padding: 30px 90px 90px 90px;
}
.sec {
  /* margin: 300px; */
  width: 400px;
}

.sec div {
  margin: 15px;
}

@media only screen and (max-width: 600px) {
  .div1 {
    display: block;
    height: 500px;
    margin: 50px auto auto 0px;
  }
  .secc {
    /* width: auto; */
  }
}
