.bottom {
  background-color: rgb(6 182 212);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
}

.list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  gap: 20px;
  color: white;
  font-size: 15px;
  font-weight: 500;
}

@media only screen and (max-width: 970px) {
  .list {
    font-size: 14px;
    font-weight: 500px;
    gap: 15px;
  }
  .bottom {
    font-size: 14px;
    font-weight: 500px;
  }
}

@media only screen and (max-width: 850px) {
  .list {
    font-size: 15px;
    font-weight: 500px;
    gap: 30px;
  }
  .bottom {
    font-size: 12px;
    font-weight: 500px;
  }
  .para {
    display: none;
  }
}

@media only screen and (max-width: 687px) {
  .list {
    font-size: 13px;
    font-weight: 500px;
    gap: 20px;
  }
  .bottom {
    font-size: 12px;
    font-weight: 500px;
  }
}

@media only screen and (max-width: 550px) {
  .list {
    font-size: 10px;
    font-weight: 500px;
    gap: 10px;
  }
}
