.quizes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: auto;
}

.quizlist {
  /* display: flex;
  justify-content: center;
  align-items: center; */

  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
