.result {
  padding-top: 120px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.divs {
  border: 1px solid gray;
  background-color: rgba(189, 34, 34, 0.329);
  border-radius: 10px;
  width: 50%;
  height: 10%;
  padding: 5px 0px 5px 10px;
}

.button {
  border: 1px solid gray;
  background-color: rgba(0, 0, 255, 0.669);
  border-radius: 10px;
  text-decoration: none;
  width: 50%;
  height: 10%;
  padding: 5px 0px 5px 10px;
  text-align: center;
  cursor: pointer;
  color: white;
}
