body {
  height: 100vh;
  /* background-image: linear-gradient(#d8c7ff, #19006c); */
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0px;
  padding: 0px;
  border: none;
}

.correct {
  background: #7bd9b3;
  border-color: #6eceb3;
}

.wrong {
  background: hsl(0, 56%, 67%);
  border-color: #c46262;
}
